*
{
    margin: 0px;
    padding: 0px;
   
}
html,body {
    height: 100%;
    overflow: auto;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

}
.todoApp{
    width: 400px;
    height: 520px;
    /* background-color: aqua; */
    padding: 15px;  
    border-radius: 8px;
    box-shadow: 2px 8px 10px rgba(0, 0, 0, 0.3);

    display: grid;
    grid-template-rows: 50px 1fr  60px;
    grid-template-columns: 1fr;
    grid-template-areas: "head" "main" "foot";
    
    position: absolute;
}
.todoHead{
    grid-area: head;
    /* background-color: darkblue; */

    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.todoMenu{
    height: 100%;
    width: 60px;
    /* background-color: black; */
    padding-left: 10px;

    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    cursor: pointer;
    /* align-items:center ; */
}
/* MENU OPTIONS HIDDEN */
.todoOptions{
    width:  250px;
    height: 450px;
    background-color: #6C63FF;
    padding: 15px;
    padding-right: 40px;
    /* margin-top: 70px; */
    align-self: center;

    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px; 
    border-bottom-left-radius: 8px; 
    display:none;
    transition:opacity 0.5s ease-in-out;
    transition: transform 0.2s ease-in-out;
}
.todoOptionsFade{
    display: block;
    position: relative;
    left: -15px;
    top:-195px;
}
.todoOptions ul{

    width: 100%;
    height: 30%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.todoOptions ul li{
    width: 100%;
    font-size: 23px;
    list-style: none;
    font-family: sans-serif;
    color: white;
}
.todoOptions ul li a{
   color: white;
}
.bar{
    
    margin: 3px  0px  3px 0px;
    height: 1px;
    padding: 1.5px;
    /* margin-bottom: 3px; */
    background-color: #6C63FF;
    /* cursor:none; */
    pointer-events: none;

}
.one{width: 50%; margin-top: 8px;}
.two{width: 60%;}
.three{width:30%}

h1{
    font-size: 30px;
    padding: 23px;
    font-family: sans-serif;
    color: rgba(177, 169, 160, 0.863);
}
/* FOOTER */
.addBtn{
    width: 60px;
    height: 100%;
    padding: 15px;
    border-radius: 50%;

    font-size: 33px;
    font-weight: 500;
    text-align: center;
    line-height: 4px;
    border: none;
    outline: none;
    background-color: #6C63FF;
    color: white; 
    cursor: pointer;

    transform: translateY(-10px);
}
.todoFoot{
    grid-area: foot;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.todoFootNone{
    display: none;
}
.todoFoot input  {
    height: 30px;
    text-align: center;
    padding: 12px;
    border: none;
    outline: none;
    border-bottom: 1px solid #6C63FF;
    
    font-size: 23px;
    font-family: sans-serif;
    /* display: none; */
}
/* MAIN */
.todoMain{
    grid-area: main;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* background: bisque;  */
    max-height: 410px;  
    overflow: auto;
}
#myForm{
    width: 100%;
    height: 100%;
   
}
.todoMain ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    
}
.noDisplay{
    display: none;
}
.todoMain ul li {
    width: 80%;
    list-style: none;
    padding: 10px;
    /* background-color: aqua; */
    background-color: white;
    border: 1px solid rgba(182, 181, 184, 0.2);
    border-radius: 8px;
    box-shadow: 3px 1px 3px rgba(0, 0, 0, 0.2);

    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 14px;
    font-size: 23px;
    font-family: sans-serif;  
}
.done
{   
    text-decoration:line-through;
    text-decoration-color: #6C63FF;
}


/* CUSTOM CHECK */
.todoMain ul li .checkbox{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #6C63FF;
    cursor: pointer;
    /* transition: background-color .2s ease-in ; */
 
}
/* .todoMain ul li .checkbox:hover{
    background-color: #6C63FF;
} */
.checkbox a{
  /* width: 100%;
  height: 100%;
  border-radius: 50%;
  cursor: pointer; */
}
.checked {
    background-color: #6C63FF;
}
.todoMain ul li i { 
    font-size: 23px;
    cursor: pointer;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 1.8; 
    transition: background-color .3s ease-in ;
    
}
.todoMain ul li i a{
    /* width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: #6C63FF; */
}
.todoMain ul li i:hover {
    background-color: rgba(238, 34, 34, 0.774); 
}
.todoMain img {
    width: 280px;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}
.fade{
    opacity: 0;
}
/* TODO MENUBAR */

.todomenuOptions
{
    grid-area: main;
    color: #6C63FF;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.todomenuOptions ul{
    height: 50%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.todomenuOptions ul li {
    width: 100%;
    list-style: none;
    font-size: 27px;
    font-family: sans-serif;
    text-align: left;
}
/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
    width: 6px;
}
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:#6C63FF;
    border-radius: 9px;
}
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }